<!-- <p>
  products-join works!
</p> -->
<div>
  <head>
    <style> 
      table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td{
        padding: 15px;
      }
    </style>
  </head>
  <h3>Products list:</h3>
   <table border="1">
        <tr>
          <th>Category Name</th>
          <th>Product Name</th>
          <th>Cost</th>
          <th>Category Id</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
          <td>
  <li *ngFor = "let product of product.categoryName">
            {{(product | async)?.cname}}
          </li>
          </td> 
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>
           <jce-product [product]="product" 
           (deleteEvent)="deleteProduct($event)"
        ></jce-product>          
     </tr>
  </table>
</div>