<!--<p>
  invoices works!
</p>-->


<div>
    <head>
    <style> 
      table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td{
        padding: 15px;
      }
    </style>
  </head>
  <h3>Invoices list:</h3>
   <table border="1">
        <tr>
          <th>Product Name</th>
          <th>Amount</th>

        </tr>
      
        <tr  *ngFor = "let invoice of invoices" >
           <td> {{invoice.name}} </td>
           <td> {{invoice.amount}} </td> 
  
    
     </tr>
  </table>
</div>

