<span>Title: {{post.title}}, Body: {{post.body}}</span>

<span *ngIf= "isEdit"> 
   <p> </p>
    Title: <input type="text" [(ngModel)] = "post.title">
    Body: <input type="text" [(ngModel)] = "post.body">
    </span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button *ngIf= "edit" (click) = "cancelEdit()" >Cancel</button> 
<button (click) = "sendDelete()" >Delete</button>