<!--<p>
  invoice works!
</p>
-->

<span>Name: {{invoice.name}}, Amount: {{invoice.amount}}</span>

<span *ngIf= "isEdit"> 
   <p> </p>
    Name: <input type="text" [(ngModel)] = "invoice.name">
    Amount: <input type='1000' [(ngModel)] = "invoice.amount">
</span>

<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button *ngIf= "edit" (click) = "cancelEdit()" >Cancel</button> 
<button (click) = "sendDelete()" >Delete</button>