<span>Name: {{user.name}}, email: {{user.email}}</span>

<span *ngIf= "isEdit"> 
   <p> </p>
    Name: <input type="text" [(ngModel)] = "user.name">
    Email: <input type="text" [(ngModel)] = "user.email">
    </span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button *ngIf= "edit" (click) = "cancelEdit()" >Cancel</button> 
<button (click) = "sendDelete()" >Delete</button> 